@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #0b0c0c;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

section {
  background-image: linear-gradient(to right,red,yellow,pink,yellowgreen);
  padding: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  max-width: 800px;
  align-content: center;
  margin: 0 auto;
}
section:nth-child(even) {
  background-color: white;
}

h1,
h2 {
  font-weight: bold;
  font-size: 4em;
  margin: 0 0 0.5em;
  color: #0b0f0e;
}

h2 {
  font-size: 2em;
}

button {
  border: 2px solid #040404;
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.25em;
  color: #01090b;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  float: right;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
button:hover, button:focus {
  background-color: #99B2B7;
  color: #D5DED9;
}

label {
  font-weight: bold;
}
label span {
  margin-bottom: 5px;
  display: block;
}
label span strong {
  color: #111111;
}

input {
  padding: 20px;
  width: 100%;
  border: 1px solid #99B2B7;
  border-radius: 0;
  font-size: 1em;
}
input.error {
  border-color: #dd6666;
}
.todo{
  background-image:linear-gradient(to right,red,yellow,pink,yellowgreen);
}